<div class="container">
    <br>
    <br>
      <div class="row">
      <div class="col-sm-3">
        <h5><b><span style="background-color:gainsboro">マイページ</span></b></h5>
      </div>
    </div>
    <br>
    <br>
    <div class="row">
      <div class="col-sm-3">
      <h5><b>登録情報</b>&nbsp; &nbsp; &nbsp; &nbsp;<%= link_to '編集する', customers_mypage_edit_path, class: "btn btn-success" %></h5>
      </div>
    </div>
    <br>
    <br>
  <div class="card-body" style="width: 40rem;">
    <div class="row">
      <div class="col-sm-3">
      <h6 class="mb-0">氏名</h6>
      </div>
      <div class="col-sm-9 text-secondary"> <%= @customer.family_name %><%= @customer.first_name %>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-sm-3">
      <h6 class="mb-0">カナ</h6>
      </div>
      <div class="col-sm-9 text-secondary"> <%= @customer.family_name_kana %> <%= @customer.first_name_kana %>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-sm-3">
      <h6 class="mb-0">郵便番号</h6>
      </div>
      <div class="col-sm-9 text-secondary"> <%= @customer.postal_code %>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-sm-3">
      <h6 class="mb-0">住所</h6>
      </div>
      <div class="col-sm-9 text-secondary">  <%= @customer.address %>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-sm-3">
      <h6 class="mb-0">電話番号</h6>
      </div>
      <div class="col-sm-9 text-secondary"> <%= @customer.phone_number %></div>
    </div>
    <hr>
    <div class="row">
      <div class="col-sm-3">
      <h6 class="mb-0">メールアドレス</h6>
      </div>
      <div class="col-sm-9 text-secondary">  <%= @customer.email %>
      </div>
    </div>
    <hr>
  </div>

    <br>
    <br>
    <div class="row">
      <div class="col-sm-3">
      <h5><b>配送先</b> &nbsp; &nbsp; &nbsp; &nbsp;<%= link_to '一覧をみる', addresses_path, class: "btn btn-primary" %>
      </h5>
      </div>
    </div>
    <br>
    <br>

    <div class="row">
      <div class="col-sm-3">
      <h5><b>注文履歴</b> &nbsp; <%= link_to '一覧をみる', orders_path, class: "btn btn-primary" %>
      </h5>
      </div>
    </div>


    <br>
    <br>
</div>