<div class="container">
  <div class="row mt-4 ml-4">
  <h3  class="bg-secondary">会員一覧画面</h3>
  </div>


<div class="container">
  <div class="row mt-2 mx-3">
  <div class="col">

      <table  class="table table-hover">
        <thead class="thead-light">
        <tr>
          <th scope="col">会員ID</th>
          <th scope="col">氏名</th>
          <th scope="col">メールアドレス</th>
          <th scope="col">ステータス</th>
        </tr>
        </thead>

        <tbody>
          <% @customers.each do |customer| %>
          <tr>
            <th scope="row"><%= customer.id %></th>
            <td>
              <u>
                <%= link_to(admin_customer_path(customer.id)) do %>
                <%= customer.family_name %><%= customer.first_name %>
              <% end %>
              </u>
            </td>
            <td><%= customer.email %></td>
            <td>
              <% unless customer.is_deleted %>
               <p class="text-success">有効</p>
              <% else %>
               <p class="text-muted">退会</p>
              <% end %>
            </td>
          </tr>
          <% end %>
          <%= paginate(@customers)  %>
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>