<h2>ジャンル一覧・追加</h2>

<%= form_with model: [:admin,@genre],local:true do |f| %>
  <h4>
    ジャンル名
    <%= f.text_field :name %>
    <%= f.submit :"新規登録",  class: 'btn btn-success' %>
  </h4>
<% end %>

<table>
  <tr>ジャンル</tr>
　<% @genre1.each do |genre| %>
  <tr>
    <td><%= genre.name %></td>
    <td>
      <%= link_to edit_admin_genre_path(genre.id), class: "btn btn-sm btn-success" do %>
      編集する
      <% end %>
    </td>
  </tr>
<% end %>
</table>