   <div class="container-fruid">
    <div class="row  mt-4 mx-4">
      <div class="col">
        <h5><b><span style="background-color:gainsboro">注文情報確認</span></b></h5>
      </div>
    </div>
    <div class="row  mt-2 mx-4">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>商品名</th>
              <th>単価(税込)</th>
              <th>数量</th>
              <th>小計</th>
              <th></th>
            </tr>
          </thead>

          <% @cart_item.each do |cart_item| %>
          <% @total = @total+ cart_item.subtotal %>
          <tbody>
            <tr>
              <td>
                <%= image_tag cart_item.product.product_image, size: "90x70" %>
                <%= cart_item.product.name %>
              </td>
              <td><%= cart_item.product.add_no_tax_price.to_s(:delimited) %></td>
              <td><%= cart_item.quantity %></td>
              <td><%= (cart_item.product.no_tax_price * 1.1).floor * cart_item.quantity %></td>
            </tr>
          </tbody>
          <% end %>
        </table>
    </div>
     <div class="col-xs-3 billing">
      <table class="table table-hover table-condensed table-bordered">
          <tr>
            <th class="info">送料</th>
            <td class="text-right col-xs-5">¥<%= @order.postage %></td>
          </tr>
          <tr>
            <th class="info">商品合計</th>
            <td class="text-right">¥<%= @total %></td>
          </tr>
          <tr>
            <th class="info">請求金額</th>
            <td class="text-right">¥<%= @order.postage + @total %></td>
          </tr>
      </table>
    </div>
    <h4>支払方法</h4>
      <%= @order.payment_method_i18n %>
    <h4>お届け先</h4>
      〒<%= @order.postal_code %>
      <%= @order.shipping_address %>
      <%= @order.shipping_name %>
    </div>

    <%= form_with model: @order, url: orders_path, method: :post, local: true do |f| %>
        <%= f.hidden_field :postal_code %>
        <%= f.hidden_field :shipping_address %>
        <%= f.hidden_field :shipping_name %>
        <%= f.hidden_field :payment_method %>
        <%= f.hidden_field :postage %>
        <%= f.hidden_field :total_price, :value => @order.postage + @total %>
        <%= f.submit "注文を確定する", class: "btn btn-success" %>
    <% end %>