


<div class= "container">

     <h1><b>注文情報入力</b></h1>
        <br><br><br>
    <%= form_with model:@order, url:confirmation_orders_path, method: :post, local:true do |f| %>

        <h6><b>支払方法</b></h6>
        <%= f.radio_button :payment_method, "credit_card" %>
        <%= f.label :payment_method, "クレジットカード" %>


        <%= f.radio_button :payment_method, "transfer" %>
        <%= f.label :payment_method, "銀行振込" %>
        <br><br><br>

        <h6><b>お届け先</b></h6>
        <%= f.radio_button :address_no, 1 %>
        <%= f.label :address_no, "ご自身の住所：〒" %>
        <%= current_customer.address  %>
        <%= current_customer.postal_code  %>
        <br>
        <%= f.radio_button :address_no, 2 %>
        <%= f.select :address_id, options_from_collection_for_select(current_customer.shipping_adresses, :id, :address_display) %>

        <br>
        <%= f.radio_button :address_no, 3 %>
        <%= f.label :postal_code , "郵便局：〒：" %>
        <%= f.text_field :postal_code %>
        <br>
        <%= f.label :shipping_address, "ご自身の住所：" %>
        <%= f.text_field :shipping_address %>
        <br>
        <%= f.label :shipping_name, "宛名：" %>
        <%= f.text_field :shipping_name %>


      <div class="form-group">
        <%= f.submit '新規登録', class: 'btn btn-success' %>
      </div>


    <% end %>

</div>


