<div class="main-container">
<div class="form-signin mt-5">

    <h3 class="form-signin-heading">Welcome Back! Please Sign In</h3>
    <hr class="colorgraph">
    <br>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>


        <%= f.email_field :email, class:"form-control", :placeholder => "Enter your email", autofocus: true, autocomplete: "email" %>




        <%= f.password_field :password, class:"form-control", :placeholder => "Enter your password", autocomplete: "current-password" %>



      <div class="actions">
        <%= f.submit "Login", class: "mt-2 btn btn-lg btn-primary btn-block"%>
      </div>
    <% end %>
      <p class="mt-4">会員登録がお済でない方
        <%= render "public/shared/links" %>から新規登録を行ってください。
      </p>
</div>


