<!DOCTYPE html>
<html>
  <head>
    <title>WorkGithub</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="min-vh-100 position-relative" style="width:100%;">
    <%= render 'layouts/header' %>
    <%= yield %>
    <div class="position-absolute" style="height:50px; bottom:-70px; left:0px; right:0px; width:100%; ">
    <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
